[Unit]
Description=PulseAudio Sink Remote Manager
After=pulseaudio.service

[Service]
Type=simple
ExecStart=%h/prj/tomfun/eq-pulse-audio/stick_pulse_remote.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
